* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.5s ease, color 0.5s ease;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f1f1f1;
}

#toggle-button {
    border: none;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#toggle-button:hover {
    transform: scale(1.1);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.box {
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.box:hover {
    transform: scale(1.05);
}

.box-img {
    width: 100%;
    border-radius: 10px;
}

.box-content {
    padding: 10px;
}

.dark-mode {
    background-color: #333333;
    color: #ffffff;
}

.light-mode {
    background-color: #ffffff;
    color: #000000;
}

